# Build and test using latest zig master
name: zig-master

# Triggers on master branch and any tag
on:
  push:
    branches: [ main ]
    tags: ["*"]
  workflow_dispatch:
  pull_request:
    types: [opened, edited, reopened]

# Simply build and run the tests
jobs:
  build-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2
      - name: Run actions/cache@v4 (zig build cache)
        uses: actions/cache@v4
        with:
          path: |
            zig-cache
            ~\AppData\Local\zig
            ~/.cache/zig
          key: ${{ runner.os }}-${{ runner.arch }}-zig-cache
      - run: zig build test --summary all
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2
      - run: zig build test-fmt
